<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
    <title>Friends of the Multiverse</title>
  </head>
  <body>
    <section class="wrapper">
      <div id="stars1"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>
      <div class="title"><h1 id="title">FRIENDS OF THE MULTIVERSE</h1></div>
    </section> 
    <form method="post">
        <button class="button button" type="submit">Generate Question</button>
    </form>
    <div id="questionbox">
        <h1>{% if question %}{{ question }}{% else %}Click to generate a question{% endif %}</h1>
    </div>
  </body>
</html>